.popoverHoverButtonContainer {
  position: relative;
}
.popoverHoverButtonContainer .popoverHoverButtonContent {
  position: absolute;
  top: 35px;
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;
  width: 200px;
  height: 200px;
}
.popoverHoverButtonContainer .popoverHoverButtonContent.visible {
  opacity: 1;
  pointer-events: all;
}
