.ion-page.headerOffset {
  padding-top: 60px;
}
ion-item > .readonlyIconStyle {
  margin-left: 16px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.ion-activatable {
  cursor: pointer;
  pointer-events: initial !important;
}
.ion-activatable:hover {
  background: #eee;
}
.flex {
  display: flex !important;
}
.grid {
  display: grid;
}
.column {
  flex-direction: column;
}
.max {
  height: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.search {
  flex: 1;
  justify-content: center;
}
.search.bar,
.search .bar {
  max-width: 768px;
}
.card {
  margin-bottom: 20px;
}
.card.short {
  max-width: 768px;
}
@media (min-width: 768px) {
  .modal.small {
    --height: 350px;
    --width: 350px;
  }
  .modal.large {
    --height: 768px;
    --width: 768px;
  }
  .modal.exLarge {
    --height: 960px;
    --width: 768px;
  }
}
.editorFieldText {
  min-width: 40px;
}
.editorTextArea.underline {
  border-bottom: 1px solid var(--ion-color-medium);
  max-width: 600px;
}
.editorTextArea textarea,
.editorTextArea input {
  min-height: 60px;
}
.editorSmallPlaceholder textarea::placeholder,
.editorSmallPlaceholder input::placeholder {
  font-size: 14px;
}
.errorAlert div {
  user-select: text !important;
}
.errorAlert .alert-message {
  white-space: pre-wrap;
  max-height: 60vh;
}
@media (min-width: 768px) {
  .errorAlert .alert-wrapper {
    max-width: 768px !important;
  }
}
.noEvents,
.button-disabled {
  pointer-events: none !important;
}
.noRipple {
  --ripple-color: transparent;
}
.noHover {
  --background-hover: transparent;
  background: #ffffff00 !important;
}
.noHover * {
  background: #ffffff00 !important;
}
.textSelectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.textNoSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.textPre {
  white-space: pre-line;
}
.textPrimary {
  color: var(--ion-color-primary) !important;
}
.textSecondary {
  color: var(--ion-color-secondary) !important;
}
.textSuccess {
  color: var(--ion-color-success) !important;
}
.textWarning {
  color: var(--ion-color-warning) !important;
}
.textDanger {
  color: var(--ion-color-danger) !important;
}
.textDark {
  color: var(--ion-color-dark) !important;
}
.textDarkMedium {
  color: var(--ion-color-darkMedium) !important;
}
.textMedium {
  color: var(--ion-color-medium) !important;
}
.textLight {
  color: var(--ion-color-light) !important;
}
.textTooling {
  color: var(--ion-color-tooling) !important;
}
.textCapitalize {
  text-transform: capitalize !important;
}
.textUpperCase {
  text-transform: uppercase !important;
}
.textLowerCase {
  text-transform: lowercase !important;
}
.textNoTransform {
  text-transform: none !important;
}
.textFullWidth {
  text-transform: full-width !important;
}
.textRevert {
  text-transform: revert !important;
}
.textBold {
  font-weight: 600 !important;
}
.textItalic {
  font-style: italic !important;
}
.textUnderline {
  text-decoration: underline !important;
}
.textNormal {
  font-weight: normal !important;
}
.font-xxs {
  font-size: 12px !important;
}
.font-xs {
  font-size: 14px !important;
}
.font-s {
  font-size: 16px !important;
}
.font-m {
  font-size: 19px !important;
}
.font-l {
  font-size: 25px !important;
}
.font-xl {
  font-size: 30px !important;
}
.font-xxl {
  font-size: 35px !important;
}
.fancyScroll {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .fancyScroll::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #ffffff00;
  }
  .fancyScroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #00000030;
  }
}
.mainPage .searchTool ion-searchbar {
  --box-shadow: none !important;
}
.mainPage .windowTitle ion-text {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mainPage .tabItem {
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}
.mainPage .tabItem.active {
  padding: 5px 0 5px 6px;
  border-left: 4px solid var(--ion-color-success);
}
.mainPage .tabItem.active.focused {
  box-shadow: inset 0 0 7px -1px #cfcfcf;
}
.mainPage .tabItem .favicon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.mainPage .tabItem .contentText {
  width: 100%;
  overflow: hidden;
}
.mainPage .tabItem .contentText .title,
.mainPage .tabItem .contentText .url {
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
