@import "../../config/styles/global";

.mainPage {
  .searchTool {
    ion-searchbar {
      --box-shadow: none !important;
    }
    border-bottom: 1px solid @itemBorderColor;
  }
  .windowTitle {
    ion-text {
      width: 100%;
    }
  }
  .tabItem {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid @itemBorderColor;
    &.active {
      border-bottom: 2px solid var(--ion-color-success);
    }

    .favicon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
    .contentText {
      width: 100%;
      overflow: hidden;
      .title, .url {
        white-space: nowrap;
        overflow-x: hidden;
        width: 100%;
        text-overflow: ellipsis;
      }
    }
  }
}