@import "../../config/styles/global";

.mainPage {
  .searchTool {
    ion-searchbar {
      --box-shadow: none !important;
    }
  }
  .windowTitle {
    ion-text {
      width: 100%;
    }
  }
  .tabItem {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid @itemBorderColor;
    &.active {
      padding: 5px 0 5px 6px;
      border-left: 4px solid var(--ion-color-success);
      &.focused {
        box-shadow: inset 0 0 7px -1px #cfcfcf;
      }
    }

    .favicon {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    .contentText {
      width: 100%;
      overflow: hidden;
      .title, .url {
        white-space: nowrap;
        overflow-x: hidden;
        width: 100%;
        text-overflow: ellipsis;
      }
    }
  }
}